<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIIT-GPT</title>
</head>
<body>
    <h2>KIIT-GPT</h2>
    <div>
        <div>
            <h3>Prompt</h3>
            <form action="" method="POST">
                <input type="text" name="prompt" id="">
                <button>Go</button>
            </form>
            <div>
                {{output}}
            </div>
        </div>
        <p>
            {{display}}
        </p>
    </div>
</body>
</html>